body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background: rgba(105, 98, 98, 0.507);
    color: #043107;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px 0;
}

h1, h2 {
    margin: 0;
}

section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    background-color: #043107;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f90202;
}

footer {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 100px;
    height: auto;
    margin: 5px;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.1);
}
